body{
	background-image: url(../images/background.png), none;
}

tbody td, thead th {
    text-align: center;
}

th {
    background-color: #b8d2fc;
    color: black;
} 

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #fcfdff;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #f9fbff;
}